@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-monster);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-border-button {
    position: relative;
  }

  .animate-border-button::before {
    content: '';
    position: absolute;
    inset: -2px;
    z-index: -1;
    background: linear-gradient(160deg,
        #ffffff00 0%,
        #ffffff 15%,
        #00fff3 20%,
        #800080 25%,
        #ffffff00 35%,
        #ffffff00 40%,
        #ffffff 55%,
        #00fff3 60%,
        #800080 65%,
        #ffffff00 75%,
        #ffffff00 80%,
        #ffffff 95%,
        #00fff3 100%);
    background-size: 300% 300%;
    filter: blur(0px);
    border-radius: inherit;
    opacity: 1;
    animation: gradientMove 3s linear infinite;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 15% 15%;
  }

  100% {
    background-position: 75% 75%;
  }
}