@keyframes hero-gradient-animation {
    0% {
        --x-0: 20%;
        --c-0: hsla(0, 0%, 0%, 1);
        --y-0: 55%;
        --s-start-0: 13%;
        --s-end-0: 67%;
        --y-1: 19%;
        --c-1: hsla(317.7149055750353, 82%, 8%, 1);
        --s-start-1: 16%;
        --s-end-1: 58%;
        --x-1: 26%;
        --s-start-2: 2%;
        --s-end-2: 60%;
        --c-2: hsla(302, 71%, 29%, 1);
        --x-2: 37%;
        --y-2: 0%;
        --c-3: hsla(210, 53%, 5%, 1);
        --x-3: 38%;
        --s-start-3: 19%;
        --s-end-3: 85%;
        --y-3: 72%;
        --c-4: hsla(317.0000000000001, 49%, 3%, 1);
        --s-start-4: 5%;
        --s-end-4: 61%;
        --x-4: 39%;
        --y-4: 60%;
    }

    100% {
        --x-0: 80%;
        --c-0: hsla(0, 0%, 0%, 1);
        --y-0: 53%;
        --s-start-0: 15;
        --s-end-0: 60;
        --y-1: 35%;
        --c-1: hsla(317.7075859160568, 87%, 3%, 1);
        --s-start-1: 15;
        --s-end-1: 60;
        --x-1: 66%;
        --s-start-2: 15;
        --s-end-2: 60;
        --c-2: hsla(277.94117647058823, 85%, 30%, 1);
        --x-2: 63%;
        --y-2: 85%;
        --c-3: hsla(210, 53%, 5%, 1);
        --x-3: 92%;
        --s-start-3: 15;
        --s-end-3: 60;
        --y-3: 97%;
        --c-4: hsla(317.0000000000001, 49%, 3%, 1);
        --s-start-4: 15;
        --s-end-4: 60;
        --x-4: 42%;
        --y-4: 45%;
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(317.7149055750353, 82%, 8%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 58%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 26%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(302, 71%, 29%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 37%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(210, 53%, 5%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(317.0000000000001, 49%, 3%, 1)
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 39%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

.mesh-background {
    --x-0: 20%;
    --c-0: hsla(0, 0%, 0%, 1);
    --y-0: 55%;
    --y-1: 19%;
    --c-1: hsla(317.7149055750353, 82%, 8%, 1);
    --x-1: 26%;
    --c-2: rgb(68, 13, 66);
    --x-2: 37%;
    --y-2: 0%;
    --c-3: hsla(210, 53%, 5%, 1);
    --x-3: 38%;
    --y-3: 72%;
    --c-4: hsla(317.0000000000001, 49%, 3%, 1);
    --x-4: 39%;
    --y-4: 60%;
    ;
    background-color: hsla(258.5147164101409, 70%, 15%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}